[Unit]
Description=registrator
After=consul.service
Requires=consul.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator
ExecStart=/usr/bin/docker run --name registrator -v /var/run/docker.sock:/tmp/docker.sock -e "SERVICE_NAME=registrator" gliderlabs/registrator consul://10.0.10.171:8500
ExecStop=/usr/bin/docker stop registrator

[Install]
WantedBy=multi-user.target
